.container {
	padding: 20px;
	max-width: 1200px;
	margin: 0 auto;
}

.table {
	width: 100%;
}

.table th,
.table td {
	padding: 12px 16px;
	text-align: left;
	border: 1px solid white;
}

.table th {
	cursor: pointer;
}
